/* Canvas */

.canvas-container {
  /* width: 100%; */
  margin: 5px;
  border-radius: 1.875em;
  background-color: rgb(235, 238, 243, 0.1);
}

.meme-canvas {
  border-radius: 10px;
}

/* Control box */

.control-box {
  flex-direction: column;
  border-radius: 1.875em;
  padding-top: 1.56em;
  gap: 15px;
  flex-basis: 50%;
  background-color: rgb(235, 238, 243, 0.1);
}

.control-box .line-input {
  all: unset;
  text-align: center;
  width: 90%;
  height: 3.43em;
  color: #3d3d3d;
  background-color: #ebeef3;
  box-shadow: 0.26px 4.99px #bbc4d1;
  border-radius: 1.875em;
}

/* Line controls */

/* .line-controls {
  justify-content: center;
  width: 90%;
} */

.line-controls button {
  all: unset;
  cursor: pointer;
  font-family: fa-solid, Arial;
  font-size: 1.2em;
  border-radius: 0.625em;
  color: white;
  width: 57px;
  height: 57px;
  margin: 0.625em;
  text-align: center;
}

.line-controls .moveup-btn {
  background: linear-gradient(#66c4dc, #40b1ce, #0c98bb);
  box-shadow: 0.26px 4.99px #048b97;
}

.line-controls .moveup-btn::before {
  content: '\f062';
}
.line-controls .movedown-btn {
  background: linear-gradient(#66c4dc, #40b1ce, #0c98bb);
  box-shadow: 0.26px 4.99px #048b97;
}

.line-controls .movedown-btn::before {
  content: '\f063';
}

.line-controls .switch-btn {
  background: linear-gradient(#66c4dc, #40b1ce, #0c98bb);
  box-shadow: 0.26px 4.99px #048b97;
}

.line-controls .switch-btn::before {
  content: '\f338';
}

.line-controls .add-btn {
  background: linear-gradient(#42eb5c, #37b34a, #37b34a);
  box-shadow: 0.26px 4.99px #015d33;
}

.line-controls .delete-btn {
  background: linear-gradient(#cf1d37, #cf1d37, #f05036);
  box-shadow: 0.26px 4.99px #8c0606;
}

.line-controls .delete-btn::before {
  content: '\f1f8';
}

/* Text Controls */

.control-box .text-controls {
  width: 90%;
  flex-direction: column;
  border-radius: 0.937em;
  background-color: #19a59f;
}

.control-box .text-aligns,
.text-customs {
  width: 90%;
  margin: 0.625em;
}

.text-aligns > button,
.text-customs > button {
  font-family: fa-solid, Arial;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 0.625em;
  width: 55px;
  height: 55px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0.26px 4.99px #5c5c5c;
}

.text-aligns .align-left::before {
  content: '\f036';
}
.text-aligns .align-center::before {
  content: '\f037';
}

.text-aligns .align-right::before {
  content: '\f038';
}

/* Text Customs */

.text-customs .font-color::before {
  content: '\f53f';
}

.text-customs .select-font {
  font-size: 1.2em;
  box-shadow: 0.26px 4.99px #5c5c5c;
  border-radius: 0.625em;
}

.text-customs > button > input,
select {
  cursor: pointer;
}

.fontcolor-input,
.stroke-input {
  border: none;
  background: transparent;
}

/* STICKERS */

.stickers-container {
  width: 90%;
  background-color: red;
}

/* Handle Meme */

.control-box .social-container {
  margin-bottom: 0.93em;
  justify-content: space-between;
  width: 90%;
  gap: 10px;
}

.control-box .social-container > * {
  font-family: fa-solid, Arial;
  border-radius: 0.937em;
  padding: 0.625em 1.25em;
  color: #ffffff;
  cursor: pointer;
}

.social-container .share-btn {
  background-color: #1e7cd3;
  box-shadow: 0.31px 5.99px #165c9c;
}
.social-container .share-btn::before {
  content: '\f1e0';
  margin-right: 1em;
}

.social-container .download {
  background-color: #8f44bb;
  box-shadow: 0.31px 5.99px #632687;
}

.social-container .download::before {
  content: '\f019';
  margin-right: 1em;
}

/* Mobile Only */

@media (max-width: 860px) {
  .editor-panel {
    flex-direction: column;
  }
  .meme-canvas {
    width: 100%;
  }
}
